# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
---
repos:

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8

  # - repo: https://github.com/ambv/black
  #   rev: 21.9b0
  #   hooks:
  #     - id: black
  #       language_version: python3.9

  - repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.32.0
    hooks:
      - id: yapf
        additional_dependencies: [toml]

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        name: isort (python)

  - repo: https://github.com/trailofbits/pip-audit
    rev: HEAD
    hooks:
      - id: pip-audit
